<% @party.guests.each do |guest| %>
<div class="content-wrapper">
	<table class="guest-list">
		<tr>
			<td><%= guest.name.blank? ? guest.email : guest.name %></td>
			<td class="rsvp"><%= get_rsvp_status guest %></td>
			<td class="donation">Donated
			<span class="amount"><%= get_donation_status guest %></span></td>
		</tr>
	</table>
</div>
<% end %>