<table>
	<tbody>
		<tr>
			<td>
				<img src="http://partyforhumanity.org/images/logo.jpg">
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="4">
					<tbody>
						<tr>
							<td>Hello,
								<p>Your child is interested in registering with <a target="_blank" href="http://partyforhumanity.org">partyforhumanity.org</a>, the website of Party for Humanity, a non-profit organization that let's you celebrate by having party guests give to a charity of your choice.</p>
								<p>Party for Humanity takes no fee. ALL of your donations go directly to the charity you choose. We have no spam, no advertising, no pop-ups. We do not sell or share your names or your party lists.</p>
								<p>Please see our Privacy Policy at <a target="_blank" href="http://www.partyforhumanity.org/privacy">http://www.partyforhumanity.<wbr></wbr>org/privacy</a> for more information.</p>
								<p>To protect minors, we require parent permission for children under 13 years to register on our website. Please visit <a target="_blank" href="https://www.partyforhumanity.org/users/sign_up">https://www.partyforhumanity.<wbr></wbr>org/users/sign_up</a> to verify your permission and to complete your child's registration.</p>
								<p>Thank you, </p>
								<p>Party for Humanity.</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>