<div class="main wrapper clearfix">
  <h1>
    Board
  </h1>
  <p>
    <b>GuyLaine Charles</b> is a partner at Teigland-Hunt LLP, New York, where she negotiates derivative and commodities transactions. After receiving her LL.B. from the University of Ottawa, Canada, she served as a law clerk to the Honorable Chief Justice Julius Isaac of the Federal Court of Appeal of Canada. She later received a Master of Laws from Dalhousie University, Halifax, Canada. She previously worked as Director of Operations for the Asian University for Women Support Foundation. Her community service includes translation work on behalf of Dwa Fanm, a New York-based organization that assists women who are the victims of domestic violence. She also served on the Board of Directors of the Centennial Infant and Child Care Centre in Toronto, an organization that provides daycare for children with Down syndrome.
  </p>
  <p>
    <b>Evelyn Chung</b> is a trial attorney with the Department of Labor's Office of the Solicitor General in the regional office in New York City. She previously worked as an associate in the litigation group at Sidley Austin LLP. She also has extensive pro bono family law experience, through her work for inMotion, a New York legal organization providing free legal services to low-income women. Prior to joining the firm, she served as law clerk to the Honorable Stanley Marcus of the United States Court of Appeals for the Eleventh Circuit (2003-2004). She received her B.A. from Harvard College and her J.D. from New York University School of Law. In July 2007, Evelyn became a first-time mother to a delightful baby girl.
  </p>
  <p> 
    <b>Helen Hershkoff</b> is the Herbert M. and Svetlana Wachtell Professor of Constitutional Law and Civil Liberties and Co-director of the Hays Civil Liberties Program at New York University School of Law. She previously worked as an associate legal director of the American Civil Liberties Union, as a staff attorney with The Legal Aid Society of New York, and as a litigation associate at the law firm of Paul, Weiss, Rifkind, Wharton & Garrison. She is a graduate of the Harvard Law School and of Harvard College, and holds a B.A. and an M.A. from Oxford University, which she attended as a Marshall Scholar. She is a Board member of the Urban Justice Center and the Brennan Center for Justice, and previously served on the Boards of the Food Research and Action Center and the Poverty & Race Research Action Council in Washington, D.C. and the New York City Coalition against Hunger in New York.
  </p>
  <p>
    <b>Susan Hewitt</b> is a noted designer and currently the creative director of hopper/hewitt in New York where she directs multidisciplinary communications materials for internationally-known companies including Aveda, Victoria's Secret, Movado, and TIAA-CREFF. She previously served as design director of Desgrippes Gobe. A graduate of the graphic design program of Parsons School of Design in Tokyo, Hewitt also has studied at the University of California, Berkeley and received her M.A. and B.F.A. with distinction from the California College of Arts. She has won many awards for her design work including logo awards (Graphis 1990), annual report awards (Print Magazine 1996), and package awards (Rockport Books 2003). Susan and her husband Marcus designed the Party for Humanity logo and graphics.
  </p>
  <p>
    <b>Kavery Kaul</b> is an accomplished filmmaker and the director/producer of documentaries including Long Way from Home, One Hand Don't Clap and First Look. She has toured worldwide with her work. Her films have been shown at festivals like Telluride, Berlin, London, and Sydney, in countries like Japan, India, Burkina Faso and Martinique. She has given many guest lectures at schools, colleges, museums and arts institutions, and been a panelist for groups such as New York Women in Film & Television, Association of Independent Video and Filmmakers (AIVF), Women Make Movies, and Black Filmmaker Foundation. A graduate of Harvard College, Kavery is a recipient of the New York Foundation for the Arts Fellowship in Film, and a two time National Endowment for the Arts awardee.
  </p>
  <p>
    <b>Stephen Loffredo</b> is a Professor of Law and Director of the Economic Justice Project at the City University of New York Law School. He previously worked as a staff attorney at The Legal Aid Society of New York and as an adjunct professor at New York University School of Law. Stephen has received many awards for community service and excellence in teaching, including awards from the Association of the Bar of the City of New York (2000), the New York State Bar Association (2002), and the Clinical Legal Education Association (2004). He is a graduate of the Harvard Law School and of Yale College. Stephen serves on the Board of the Urban Justice Center. He is also an active amateur musician and plays clarinet. Through his participation with the Broadway Bach Ensemble, the Greenwich Village Orchestra, and the Amber Woodwind Quintet, Stephen performs a number of free or benefit concerts for children, seniors, and other groups each year.
  </p>
  <p>
    <b>Arthur Lubow</b> is a contributing writer for The New York Times Magazine, where he covers cultural subjects, including art, music, architecture, design, and food. His work has appeared in Smithsonian, The New Yorker, Vanity Fair, and other national magazines. He is the author of The Reporter Who Would Be King: A Biography of Richard Harding Davis. He is a graduate of Harvard College and studied as a Knox Fellow at Cambridge University.
  </p>
  <p>
    <b>Marc D. Wager, M.D.</b>, practices pediatrics with the Pediatric Group of New Rochelle, New York. He received his M.D. from the Albert Einstein College of Medicine of Yeshiva University and his B.A. from Lehigh University, where he majored in Spanish and Natural Science, with a minor in music. Dr. Wager has repeatedly been named in the Castle Connolly Guide to Best Doctors in New York, Best Pediatricians in America, and the "best doctors" issues of New York and Westchester magazines. Marc is an active amateur musician and plays French horn in a broad range of community venues. He is a founding member of the Amber Woodwind Quintet, plays principal horn with the St. Thomas Orchestra, and freelances with other orchestras and theater and opera orchestras as well. Marc serves on the board of the Chamber Music Conference and Composers Forum of the East at Bennington College, and the advisory boards of The Partnership for the Huguenot Children's Library, Westco Productions, and the Hudson IPA.
  </p>
  <p>
    Affiliations are listed for identification purposes only.
  </p>
  <p>
    Party for Humanity, Inc. is a 501(c)(3) non-profit organized as a charity under the laws of the State of New York. For a copy of all financial and other registration papers, contact the New York State Office of the Attorney General, Division of Social Justice, Charities Bureau, 120 Broadway, New York, NY 10271-0332.
  </p>
  <p>
    Party for Humanity is a registered trademark.
  </p>
  <a href="<%= who_we_are_url %>">
    Who We Are
  </a><br />
  <a href="<%= donate_url %>">
    Donate
  </a><br />
  <a href="<%= directors_letter_url %>">
    Executive Director's Letter
  </a><br />
  <a href="<%= financial_statements_url %>">
    Financial Statements
  </a>
</div>