<h1>
  Executive Director's Letter
</h1>
<p>
  Thanks for joining Party for Humanity.
</p>
<p>
  Albert Einstein spoke of "widening our circle of compassion to embrace all living creatures and the whole of nature in its beauty."
</p>
<p>  
  Our logo is a circle of five people, composed from a single, unbroken line.
</p>
<p>  
  We hope our circle will widen to include you, your friends, and your family.
</p>
<p>  
  Sincerely,
</p>
<p>  
  Ben Loffredo    
  Executive Director
</p>
<p>  
  Party for Humanity, Inc. is a 501(c)(3) non-profit organized as a charity under the laws of the State of New York. For a copy of all financial and other registration papers, contact the New York State Office of the Attorney General, Division of Social Justice, Charities Bureau, 120 Broadway, New York, NY 10271-0332.
</p>
<p>  
  Party for Humanity is a registered trademark.
</p>
<p>  
  "We are here to awaken from the illusion of our separateness." - Thich Nhat Hanh 
</p>
<a href="<%= who_we_are_url %>">
  Who We Are
</a><br />
<a href="<%= board_url %>">
  Board
</a><br />
<a href="<%= donate_url %>">
  Donate
</a><br />
<a href="<%= financial_statements_url %>">
  Financial Statements
</a>
