<h1>
  Donate
</h1>
<p>
  Party for Humanity operates on a shoe string budget.  We have no salaried employees and pay no rent.   But we do have some expenses - hosting fees, postage, and other administrative costs.   If you would like to donate to our organization, Party for Humanity would be pleased to accept contributions from New York residents.  Please send your checks or money orders to:
</p>
<p>
                   Party for Humanity, Inc.<br />
                   242 West 12 Street<br />
                   New York, NY 10014-1912<br /> 
</p>
<p>
  Contributions are tax-deductible to the full extent permitted by law.
</p>
<p>
  Party for Humanity, Inc. is a 501(c)(3) non-profit organized as a charity under the laws of the State of New York. For a copy of all financial and other registration papers, contact the New York State Office of the Attorney General, Division of Social Justice, Charities Bureau, 120 Broadway, New York, NY 10271-0332.
</p>
<p>
  Party for Humanity is a registered trademark.
</p>
<p>
  "No act of kindness, no matter how small, is ever wasted." - Aesop 
</p>
<a href="<%= who_we_are_url %>">
  Who We Are
</a><br />
<a href="<%= board_url %>">
  Board
</a><br />
<a href="<%= directors_letter_url %>">
  Executive Director's Letter
</a><br />
<a href="<%= financial_statements_url %>">
  Financial Statements
</a>