<h1>
  Financial Statements
</h1>
<p>
  Party for Humanity, Inc. is a 501(c)(3) non-profit organized as a charity under the laws of the State of New York. For a copy of all financial and other registration papers, contact the New York State Office of the Attorney General, Division of Social Justice, Charities Bureau, 120 Broadway, New York, NY 10271-0332.
</p>
<p>
  Party for Humanity is a registered trademark. 
</p>
<a href="<%= who_we_are_url %>">
  Who We Are
</a><br />
<a href="<%= board_url %>">
  Board
</a><br />
<a href="<%= donate_url %>">
  Donate
</a><br />
<a href="<%= directors_letter_url %>">
  Executive Director's Letter
</a>