<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">
      Party for Humanity
    </h1>
    <nav>
      <ul>
        <li>
				  <a id="learn" href="#">
            Learn
					  <span>
              about us
            </span>
						<div class="nav-icon">
            </div>
					</a>
        </li>
        <li>
				  <a id="choose" href="#">
            Choose
						<span>
              a charity
            </span>
						<div class="nav-icon">
            </div>
					</a>
        </li>
        <li>
				  <a id="organize" href="#">
            Organize
				    <span>
              a party
            </span>
				    <div class="nav-icon">
            </div>
				  </a>
        </li>
        <li>
			    <a id="share" href="#">
            Share
					  <span>
              your story
            </span>
					  <div class="nav-icon">
            </div>
				  </a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="main-container">
  <div class="main wrapper clearfix">
    <hgroup>
			<h1>
        Welcome!
      </h1>
			<h2 class="subheader">
        Welcome to Party for Humanity, Inc.
      </h2>
		</hgroup>
		<p>
      Party for Humanity is a non-profit organization that lets you celebrate by having party guests give to a charity of your choice.
    </p>
		<p>
      Whether it's a first birthday, a sweet sixteen, a graduation, or a bar/bat mitzvah, there's always an occasion to share your joy with a good cause.
    </p>
		<p>
      Party for Humanity makes it easy to organize donations instead of having guests spend money on a gift.
    </p>
		<p>
      There are no fees through Party for Humanity.
      <b class="emphasis">
        All
      </b>
      of your donations go directly to the charity you choose. We have no spam, no advertising, no pop-ups. We do not sell or share your names or your party lists.
    </p>
		<h3 class="subheader">
      Join the party!
    </h3>
		<p>
      To learn more about Party for Humanity, 
      <a href="#">
        click here</a>.
    </p>
		<footer class="panel">
			<p class="disclaimer">
        Contributions to Party for Humanity, Inc. are tax deductible within the limits of the law. A copy of our latest annual report or financial statement can be obtained directly from Party for Humanity, Inc. or from the New York State Office of the Attorney General, Division of Social Justice, Charities Bureau, 120 Broadway, New York, NY 10271-0332.
      </p>
		</footer>
  </div>
</div>

<div class="footer-container">
  <footer class="wrapper">
		<ul class="nav">
			<li>
        <a href="#">
          Privacy and Terms & Conditions
        </a>
      </li>
			<li>
        <a href="mailto:info@partyforhumanity.org">
          info@partyforhumanity.org
        </a>
      </li>
		</ul>
		<p>
      Copyright &copy; Party for Humanity, Inc. <br>
			242 West 12 St. New York, NY 10014
		</p>
  </footer>
</div>
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>