<header class="banner">
	<img class="profile" src="http://24.media.tumblr.com/tumblr_me3mb8GevE1qgxwpjo1_1280.jpg">
</header>
<div class="party-profile">
	<div class="party-info">
		<small>A party for</small>
<!-- 		<h2>Love Without Boundaries</h2> -->
<!-- 		<h2>TWLOHA</h2> -->
		<h2>National Autism Association <a class="icon-forward" href="#"></a></h2>

		<dl>
			<dt class="icon-user"></dt>
			<dd>Hosted by FirstName LastName</dd>
			<dt class="icon-calendar"></dt>
			<dd>Saturday, November 27, 2015</dd>
			<dt class="icon-clock"></dt>
			<dd>12pm to 4pm</dd>
			<dt class="icon-location"></dt>
			<dd>3601 Peachtree Industrial Blvd<br>
			Atlanta, GA 30341-2053</dd>
		</dl>

	</div>
	<div class="progress">
		<img src="/assets/piggy-bank.png" class="bank">
		<div class="fill" style="height: 41%;"></div>
		<small>We've raised</small>
		<p id="donated">$204,398</p>
		<small class="sub">Help us reach <span class="highlight">$500,000</span></small>
	</div>

	<section class="party announcement">
		<h2>Announcement</h2>
	<!-- 	<p>No recent announcement.</p> -->
		<p>We just broke $200,000! Thanks everyone for the support! Two weeks left to meet our goal!</p>
	</section>
	
	<section class="party guests">
		<h2>Guests</h2>
		
		<div class="content-wrapper">
			<table class="guest-list">
				<tr>
					<td>Lynn Tsai</td>
					<td class="rsvp">Attending</td>
					<td class="donation">Donated
					<span class="amount">Undisclosed</span></td>
				</tr>
				<tr>
					<td>Donald Sung</td>
					<td class="rsvp">Not Attending</td>
					<td class="donation">
					<span class="amount">&ndash;&ndash;</span></td>
				</tr>
				<tr>
					<td>Eric Meyer</td>
					<td class="rsvp">Attending</td>
					<td class="donation">Donated
					<span class="amount">$2,000</span></td>
				</tr>
				<tr>
					<td>Jeffrey Zeldman</td>
					<td class="rsvp">Attending</td>
					<td class="donation">
					<span class="amount">$3,100</span></td>
				</tr>
				<tr>
					<td>Luke Wroblewski</td>
					<td class="rsvp">Attending</td>
					<td class="donation">
					<span class="amount">&ndash;&ndash;</span></td>
				</tr>
				<tr>
					<td>Jon Tan</td>
					<td class="rsvp">Attending</td>
					<td class="donation">
					<span class="amount">&ndash;&ndash;</span></td>
				</tr>
				<tr>
					<td>Aarron Walter</td>
					<td class="rsvp">Not Attending</td>
					<td class="donation">Donated
					<span class="amount">$5,200</span></td>
				</tr>
				<tr>
					<td>Katherine Zeta Jones</td>
					<td class="rsvp">Attending</td>
					<td class="donation">Donated
					<span class="amount">Undisclosed</span></td>
				</tr>
			</table>
		</div>
		<div class="buttons">
			<button class="button left" id="email-guests">Email Guests</button>
			<button class="button right" id="invite-guests">Invite Guests</button>
		</div>
		
	</section>
</div>

