<div class="main wrapper clearfix">
  <h1>
    Who We Are
  </h1>
  <p>
    <h2>
      These are the groups and individuals who donated their time to help establish Party for Humanity:
    </h2>
  </p>
  <p>
    <h3>
      Legal representation . . .
    </h3>
  </p>
  <p>
    Professor Barbara A. Schatz and then-law students Deerun Jea and Joanne H. Kim of the Columbia University School of Law Non-Profit Organizations/Small Business Clinic of Morningside Heights Legal Services, Inc.
  </p>
  <p>
    Peter L. Felcher and associates and legal assistants (past and present) Patricia Harley, Rachel Harris, Elizabeth J. Moody, Carrie Casselman and Claudine Meredith-Goujon of Paul, Weiss, Rifkind, Wharton & Garrison
  </p>
  <p>  
    <h3>
      Accounting and banking services . . .
    </h3>
  </p>
  <p>  
    Martin Weinberg of Matthews Co.
  </p>
  <p>  
    JP Morgan Private Bank
  </p>
  <p>
    <h3>
      Artistic and technical support . . .
    </h3>
  </p>
  <p>  
    Susan and Marcus Hewitt designed our logo
  </p>
  <p>  
    Brittney Jensen created our web site
  </p>
  <p>  
    Clarence Cheung gave technical advice on creating the web site
  </p>
  <p>  
    Tara Kantor gave advice on creating the web site
  </p>
  <p>
    Elysia Hwang and David Posey have re-designed the website in late 2012
  </p>
  <p>
    <h3>
      Research, writing, and administrative support . . .
    </h3>
  </p>
  <p>  
    Leigh Constable and Nicolas King, then-law students at New York University School of Law
  </p>
  <p>  
    John Easterbrook gave administrative support and editorial assistance
  </p>
  <p>  
    Erica Tate (deceased) gave administrative support
  </p>
  <p>  
    Party for Humanity, Inc. is a 501(c)(3) non-profit organized as a charity under the laws of the State of New York. For a copy of all financial and other registration papers, contact the New York State Office of the Attorney General, Division of Social Justice, Charities Bureau, 120 Broadway, New York, NY 10271-0332.
  </p>
  <p>  
    Party for Humanity is a registered trademark.
  </p>
  <a href="<%= board_url %>">
    Board
  </a><br />
  <a href="<%= donate_url %>">
    Donate
  </a><br />
  <a href="<%= directors_letter_url %>">
    Executive Director's Letter
  </a><br />
  <a href="<%= financial_statements_url %>">
    Financial Statements
  </a>
</div>