 @import "normalize";
 @import "main";
 @import "custom";

 #login {
 	float: right;
 	margin: 0.5em 2.5% 0 0;
 	font-size: 1.5em;
 }

 #alert, #notice {
 	font-size: 1.25em;
 	margin: 0 0 -0.5em 0;
 }

 #alert {
 	color: red;
 }

 #notice {
 	color: green;
 }

 ::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

:-moz-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

::-moz-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

:-ms-input-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	float: left;
	width: 50%;
	margin: 0 0 1em;
	line-height: 1.5em;
	height: 1.5em;
	padding-left: 0.65%;
	clear: left;
	min-width: 178px;
	max-width: 356px;
}

#submit {
	float: left;
	background-color: #44BDBE;
	color: #FFF;
	background-image: -moz-linear-gradient(center top , #44BDBE, #44BDBE);
	border: 1px solid #44BDBE;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	font-weight: bold;
	height: 2.25em;
	line-height: 1.5em;
	min-width: 64px;
	font-family: 'Montserrat Alternates', sans-serif;
	clear: left;
}

form {
	float: left;
	width: 100%;

	div {
		float: left;
		clear: left;
	}
}