@import "normalize";
@import "main";
@import "custom";
@import "fontello";
@import "fontello-ie7";
@import "animation";

 #login {
 	float: right;
 	margin: 0.5em 2.5% 0 0;
 	font-size: 1.5em;
 }

 #alert, #notice {
 	font-size: 1.25em;
 	margin: 0 0 -0.5em 0;
 	clear: right;
 }

 #alert {
 	color: red;
 }

 #notice {
 	color: green;
 }

 ::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

:-moz-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

::-moz-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

:-ms-input-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	float: left;
	width: 50%;
	margin: 0 0 1em;
	line-height: 1.5em;
	padding-left: 0.65%;
	clear: left;
	min-width: 178px;
	max-width: 356px;
	height: 2em;
	-moz-border-radius: .75em;
	-webkit-border-radius: .75em;
	border-radius: .75em;
	border: 1px solid #E3E3E3;
    font-family: Open Sans, Helvetica, Helvetica Neue, Arial;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1% 2%;
}

select {
	-moz-border-radius: .75em;
	-webkit-border-radius: .75em;
	border-radius: .75em;
	border: 1px solid #E3E3E3;
    font-family: Open Sans, Helvetica, Helvetica Neue, Arial;
    border-radius: 0 !important;
}

.button {
	background-color: #44BDBE;
	color: #FFF;
	background-image: -moz-linear-gradient(center top , #44BDBE, #44BDBE);
	border: 0;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	font-weight: bold;
	height: 2.25em;
	line-height: 2.25em;
	min-width: 64px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

form {
	float: left;
	width: 100%;

	div {
		float: left;
		clear: left;
	}
}

.field_with_errors {
	width: 100%;
}

.field_with_errors:after {
	content: "*";
	color: #FF0000;
	padding: 0 0 0 0.25%;
}

.right {
	float: right;
	clear: right;
}

.left {
	float: left;
	clear: left;
}

.main-container {
	float: right;
	width: 70%;
}

.footer-container {
	float: left;
	width: 100%;
}

.main.wrapper {
	width: 100%;
	float: left;
	margin: 0 auto;
}

@media only screen and (max-width: 766px) {
    .main-container {
        width: 100%;
    }   
}
