/* ----------------------------------------------------------------------------------------------------------------*/
/* custom.css */
/* ----------------------------------------------------------------------------------------------------------------*/

/*  

*/

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*																												   */
/*													SITEWIDE													   */
/*																												   */
/*******************************************************************************************************************/
/*******************************************************************************************************************/

body {
    font: 14px/24px Open Sans, Helvetica, Helvetica Neue, Arial;
    background: url('swirl.png');
}

h1 {
	margin: .5em 0;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
}

h3 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

p {
	font-size: .95em;
}

a {
	color: #F16529;
	text-decoration: none;

	-webkit-transition: color ease-in-out 300ms;
	-moz-transition: color ease-in-out 300ms;
	transition:  color ease-in-out 300ms;
	
}

a:hover {
	color: #2BA6CB;
}

b {
	font-weight: 600;
	color: #BBB;
}

	b.emphasis {
		text-decoration: underline;
	}

/* ==========================================================================================
   Author's custom styles
   ========================================================================================== */

.subheader {
	line-height: 1.3;
	color: #6F6F6F;
	font-weight: 300;
	margin-top: 0;
}

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container {
/* 	background: #FFF; */
	background: none;
}

.footer-container,
.main aside {
    background: #f16529;
}

.title {
	margin: .67em 0;
	
    color: #f16529;
    text-align: center;    
}

	.title .thumb {
		height: 1.5em;
	}

	.title .logo {
		display: none;
	}

/* ==========================================================================================
   MOBILE
   ========================================================================================== */

	nav a {

	    display: block;
	    margin-bottom: 10px;
	    padding: 15px 0;
	
	    text-align: center;
	    text-decoration: none;
	    font-weight: bold;
	
	    color: white;
		position: relative;
		float: left;
		width: 22%;
		padding: 10px 0 8px;

		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 1em;
		font-weight: normal;

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		-webkit-transition: all ease-in-out 200ms;
		-moz-transition: all ease-in-out 200ms;
		transition:  all ease-in-out 200ms;
		}
	
		nav a#learn {
			background: #44BDBE;
		}

			a#learn .nav-icon {
				background-image: url('np_1176-lightbulb.svg');
				background-size: 50%;
			}
			
		nav a#choose {
			background: #9BCE50;
		}
		
			a#choose .nav-icon {
				background-image: url('np_4060-charity.svg');
			}
			
		nav a#organize {
			background: #FCE06A;
		}

			a#organize .nav-icon {
				background-image: url('np_6215-celebrate.svg');
			}
			
		nav a#share {
			background: #FF775F;
		}

			a#share .nav-icon {
				background-image: url('np_3859-library.svg');
				background-size: 50%;
			}
			
	nav li + li a {
		margin-left: 4%;
	}

	nav li a > span {
		display: block;
		margin: -5px 0 5px;

		font-family: Open Sans, Helvetica, Arial, sans-serif;
		font-size: .8em;
		line-height: 1.5;

		color: #F5F5F5;
/* 		text-shadow: 0px 0px 1px #707070; */

		-webkit-transition: all ease-in-out 300ms;
		-moz-transition: all ease-in-out 300ms;
		transition:  all ease-in-out 300ms;
	}

	nav a > .nav-icon {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;

		filter: alpha(opacity=0);
		opacity: 0;
		
		background: #AAA center center no-repeat;
		background-size: 60%;

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		-webkit-transition: all ease-in-out 200ms;
		-moz-transition: all ease-in-out 200ms;
		transition:  all ease-in-out 200ms;
	}
	
	nav a:hover {
	    color: transparent;
	}

	nav a:hover > .nav-icon {
		filter: alpha(opacity=30);
		opacity: .30;
	}
	
	nav a:hover > span {
		filter: alpha(opacity=0);
		opacity: 0;
	}	
	
	.main-container > nav {
		display: none;
	}
	
	.panel {
		padding: 0 20px;
		
		background: #F5F5F5;
	
		border: solid 1px #E6E6E6;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
		.panel .disclaimer {
			font-size: 0.7em;
			line-height: 1.7;
			color: #9C9C9C;
		}
	
	.footer-container {
		border-top: 8px solid #EEE;
		background: #F5F5F5;
	}
		
		.footer-container footer {
			color: #BBB;
			font-size: .8em;
		}
		
	footer .nav {
		overflow: hidden;
		zoom: 1;
		margin: 0;
		padding: 5px 0;
	}
	
		footer .nav li {
			float: left;
			line-height: 1;
			list-style: none;
		}
		
			footer .nav li + li {
				margin-left: 10px;
				padding-left: 10px;
				border-left: 2px solid #E6E6E6;
			}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #2BA6CB;
		}
	
	footer p {
		line-height: 1.4;
	}

/* ==========================================================================================
   INTERMEDIATE
   ========================================================================================== */

@media only screen and (min-width: 480px) {

body {
	font-size: 1em;
}

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
    	margin-bottom: 4%;
    	padding: 4% 0;
    	font-size: 1.2em;
    }
    
    .panel .disclaimer {
		font-size: .75em;
    }
    
    .footer-container footer {
    	font-size: .9em;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
/*         margin: 0 0.7%; */
    }
}

@media only screen and (min-width: 768px) {

/* ==========================================================================================
   WIDE
   ========================================================================================== */

/*
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
*/

	.header-container {
		float: left;
		width: 20%;
		padding: 30px 5% 0;
		border-bottom: 0;
	}

	.header-container nav {
	}
	
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: none;
        margin: .5em 0;
        font-size: 1.8em;
    }

	.title .thumb, .title a > span {
		display: none;
	}

	.title .logo {
		display: block;
		max-width: 100%;
		max-height: 7.2em;
		margin: 0 auto;
	}

/*
    nav {
        float: right;
        width: 38%;
    }
*/

	nav ul li {
		display: block;
	}
	
	nav a {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		padding: 10% 0;
		font-size: 1.5em;
	}
	
	nav li + li a {
		margin-left: 0;
	}
	
	nav a > .nav-icon {
		background-size: 45%;
	}
		
		a#learn .nav-icon {
			background-size: 36%;
		}

		a#share .nav-icon {
			background-size: 36%;
		}
		
		
/* ============
    WIDE: Main
   ============ */

/*
    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
*/
	
	.main.wrapper {
		width: auto;
		margin-left: 30%;
	}

}

@media only screen and (min-width: 1140px) {

/* ==========================================================================================
   WIDE
   ========================================================================================== */

/*     .wrapper { */
        /* width: 1026px; */ /* 1140px - 10% for margins */
/*
        margin: 0 auto;
    }
*/
}
