/* ----------------------------------------------------------------------------------------------------------------*/
/* custom.css */
/* ----------------------------------------------------------------------------------------------------------------*/

/*  

*/

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*																												   */
/*													SITEWIDE													   */
/*																												   */
/*******************************************************************************************************************/
/*******************************************************************************************************************/

body {
    font: 14px/24px Open Sans, Helvetica, Helvetica Neue, Arial;
    background: url('swirl.png');
    min-width: 320px;
}

h1 {
	margin: .5em 0;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
}

h3 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

p {
	font-size: .95em;
}

a {
	color: #F16529;
	text-decoration: none;

	-webkit-transition: color ease-in-out 300ms;
	-moz-transition: color ease-in-out 300ms;
	transition:  color ease-in-out 300ms;
	
}

a:hover {
	color: #2BA6CB;
}

a.button:hover {
	color: #FFFFFF;
}

b {
	font-weight: 600;
	color: #BBB;
}

	b.emphasis {
		text-decoration: underline;
	}

/* ==========================================================================================
   Author's custom styles
   ========================================================================================== */

.subheader {
	line-height: 1.3;
	color: #6F6F6F;
	font-weight: 300;
	margin-top: 0;
}

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container {
/* 	background: #FFF; */
	background: none;
}

.footer-container,
.main aside {
    background: #f16529;
}

.title {
	margin: .67em 0;
	
    color: #f16529;
    text-align: center;    
}

	.title .thumb {
		height: 1.5em;
	}

	.title .logo {
		display: none;
	}

/* ==========================================================================================
   MOBILE
   ========================================================================================== */

	nav a {

	    display: block;
	    margin-bottom: 10px;
	    padding: 15px 0;
	
	    text-align: center;
	    text-decoration: none;
	    font-weight: bold;
	
	    color: white;
		position: relative;
		float: left;
		width: 22%;
		padding: 10px 0 8px;

		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 1em;
		font-weight: normal;

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		-webkit-transition: all ease-in-out 200ms;
		-moz-transition: all ease-in-out 200ms;
		transition:  all ease-in-out 200ms;
		}
	
		nav a#learn {
			background: #44BDBE;
		}

			a#learn .nav-icon {
				background-image: url('np_1176-lightbulb.svg');
				background-size: 50%;
			}
			
		nav a#choose {
			background: #9BCE50;
		}
		
			a#choose .nav-icon {
				background-image: url('np_4060-charity.svg');
			}
			
		nav a#organize {
			background: #FCE06A;
		}

			a#organize .nav-icon {
				background-image: url('np_6215-celebrate.svg');
			}
			
		nav a#share {
			background: #FF775F;
		}

			a#share .nav-icon {
				background-image: url('np_3859-library.svg');
				background-size: 50%;
			}
			
	nav li + li a {
		margin-left: 4%;
	}

	nav li a > span {
		display: block;
		margin: -5px 0 5px;

		font-family: Open Sans, Helvetica, Arial, sans-serif;
		font-size: .8em;
		line-height: 1.5;

		color: #F5F5F5;
/* 		text-shadow: 0px 0px 1px #707070; */

		-webkit-transition: all ease-in-out 300ms;
		-moz-transition: all ease-in-out 300ms;
		transition:  all ease-in-out 300ms;
	}

	nav a > .nav-icon {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;

		filter: alpha(opacity=0);
		opacity: 0;
		
		background: #AAA center center no-repeat;
		background-size: 60%;

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		-webkit-transition: all ease-in-out 200ms;
		-moz-transition: all ease-in-out 200ms;
		transition:  all ease-in-out 200ms;
	}
	
	nav a:hover {
	    color: transparent;
	}

	nav a:hover > .nav-icon {
		filter: alpha(opacity=30);
		opacity: .30;
	}
	
	nav a:hover > span {
		filter: alpha(opacity=0);
		opacity: 0;
	}	
	
	.main-container > nav {
		display: none;
	}
	
	.panel {
		padding: 0 20px;
		
		background: #F5F5F5;
	
		border: solid 1px #E6E6E6;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
		.panel .disclaimer {
			font-size: 0.7em;
			line-height: 1.7;
			color: #9C9C9C;
		}
	
	.footer-container {
		border-top: 8px solid #EEE;
		background: #F5F5F5;
	}
		
		.footer-container footer {
			color: #BBB;
			font-size: .8em;
		}
		
	footer .nav {
		overflow: hidden;
		zoom: 1;
		margin: 0;
		padding: 5px 0;
	}
	
		footer .nav li {
			float: left;
			line-height: 1;
			list-style: none;
		}
		
			footer .nav li + li {
				margin-left: 10px;
				padding-left: 10px;
				border-left: 2px solid #E6E6E6;
			}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #2BA6CB;
		}
	
	footer p {
		line-height: 1.4;
	}
	
	header.banner {
		position: relative;
		height: 9em;
/* 		margin-bottom: 1.5em; */
		background: #666;
		-webkit-border-radius: .72em .72em 0 0;
		-moz-border-radius: .72em .72em 0 0;
		border-radius: .72em .72em 0 0;
		background: url('http://farm3.staticflickr.com/2700/5757967525_34e8b52556_o.jpg') top center;
		background-size: 100% auto;
	}
	
		.banner .profile {
			position: absolute;
			height: 7.2em;
			width: 7.2em;
			top: 4.3em;
			left: 1.4em;
			-webkit-border-radius: 5em;
			-moz-border-radius: 5em;
			border-radius: 5em;
/* 			border: .7em solid #F5F5F5; */
			-moz-box-shadow: 0 0 0 .7em #F5F5F5;
			-webkit-box-shadow: 0 0 0 .7em #F5F5F5;
			box-shadow: 0 0 0 .7em #F5F5F5;
		}
	
	.party-profile {
		overflow: hidden;
		zoom: 1;
		background: #F5F5F5;
		padding: 0 1.2em 1em; 
		-moz-border-radius: 0 0 .72em .72em;
		-webkit-border-radius: 0 0 .72em .72em;
		border-radius: 0 0 .72em .72em;
	}
	
		.party-header {
			margin-left: 9em;
		}
	
		.party-profile h2 {
			margin: 0;
		}
		
		.party-profile small {
			font-weight: 600;
			line-height: 1;
			color: #999;
			text-transform: uppercase;
		}
		
		.party-info {
			overflow: hidden;
			zoom: 1;
			clear: both;
		}
				
		.party-info dt {
			float: left;
			margin-top: .35em;
			color: #BBB;
		}

		.party-info dd {
			margin-left: 1.75em;
			margin-bottom: .2em;
			line-height: 1.5;
/* 			margin-right: 7em; */
		}

		.party-profile .progress {
			position: relative;
			overflow: hidden;
			zoom: 1;
			height: 7.6em;
			margin-top: 1em;			
		}
		
		.progress .bank {
			float: right;
			height: 10em;
			position: absolute;
			top: -1.4em;
			right: .4em;
			z-index: 1;
		}
		
		.progress .fill {
			position: absolute;
			right: .5em;
			bottom: 0;
			height: 0;
			max-height: 7.6em;
			width: 8.8em;
			background: #FFCAE1;
			-moz-transition: height 200ms ease;
			-webkit-transition: height 200ms ease;
			transition: height 200ms ease;
		}
		
		.progress > small {
			position: relative;
			z-index: 5;
		}
		
		#donated {
			position: relative;
			margin: 0em;
			line-height: 1;
			font-size: 3em;
			white-space: nowrap;
			z-index: 2;
		}
		
		.overlay {
			background: rgba(245, 245, 245, .72);
			padding-right: .3em;
			-moz-border-radius: .5em;
			-webkit-border-radius: .5em;
			border-radius: .5em;
		}
		
		small.sub {
			font-weight: 300;
		}
		
		small.sub .highlight {
			font-weight: 500;
			color: #707070;
		}
		
		.highlight.overlay {
			padding-right: .5em;
			-moz-border-radius: .75em;
			-webkit-border-radius: .75em;
			border-radius: .75em;
		}
		
	.party {
		clear: both;
		overflow: hidden;
		zoom: 1;
		margin: 3em 0;
	}

	.announcement {
		padding: 1em 1em .5em;	
		background: #EBE7E5;
		-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
		border-radius: 1em;
	}
		
		.announcement h2 {
			margin-bottom: 0;
			color: #44BDBE;
		}
	
		.announcement p {
			margin-top: .7em;
			line-height: 1.4;
			font-size: 1em;
			color: #808080;
		}
	
	.content-wrapper {
		max-height: 16em;
		margin: 1em 0 1.2em;
		overflow-y: auto;
		overflow-x: hidden;
		border: 1px solid #E3E3E3;
		-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
		border-radius: 1em;
	}
	
	.guests {
	}
	
		.guests h2 {
			color: #9BCE50;
		}
		
		.guest-list {
			width: 100%;
			line-height: 1.3;
			font-size: .9em;
		}

		th, td {
			padding: 1em;
		}
		
			.rsvp, .donation {
				line-height: 1;
				font-size: .85em;
				font-weight: 600;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				color: #b0b0b0;
			}
			
			.donation .amount {
				display: block;
				line-height: 1.5;
				font-size: 1.2em;
				font-weight: 300;
				color: #707070;
			}
		
		.guest-list tbody > tr:nth-child(odd) > td,
		.guest-list tbody > tr:nth-child(odd) > th {
			background: #EBE7E5;
		}
	
		.guest-list tbody > tr:nth-child(even) > td,
		.guest-list tbody > tr:nth-child(even) > th {
			background: #F1F1F0;
		}
		
		.guests .buttons button {
			width: 48%;
		}
		
		#email-guests {
			background-color: #2BA6CB;
		}
		
		#invite-guests {
			background-color: #F16529;
		}

	.comments {
		background: #F5F5F5;
	}
	
		.comments h2 {
			color: #FF775F;
		}
		
		.comment {
			padding: 1em;
		}
		
			.comment:nth-child(odd) {
				background: #EBE7E5;
			}
	
			.comment:nth-child(even) {
				background: #F1F1F0;
			}
			
			.comment-header {
				overflow: hidden;
				zoom: 1;
			}
			
			.comment small {
				float: right;
				line-height: 1.7;
			}
			
			.comment-header > span {
				display: block;
				padding: .12em 0;
				line-height: 1.2;
				font-size: .9em;
				font-weight: 600;
				color: #2ba6cb;
				text-transform: uppercase;
			}
			
			.comment > p {
				margin: .2em 0 0;
				line-height: 1.4;
				font-size: 1em;
			}
			
			.comment-box {
				width: 100%;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				min-height: 4em;
				padding: 1% 2%;
				border: 1px solid #E3E3E3;
				-moz-border-radius: 1em;
				-webkit-border-radius: 1em;
				border-radius: 1em;
				max-width: none;
			    font-family: Open Sans, Helvetica, Helvetica Neue, Arial;
			}
			
			#comment-add {
				background: #FCE06A;
			}
	
/* ==========================================================================================
   INTERMEDIATE
   ========================================================================================== */

@media only screen and (min-width: 480px) {

body {
	font-size: 1em;
}

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
    	margin-bottom: 4%;
    	padding: 4% 0;
    	font-size: 1.2em;
    }
    
    .panel .disclaimer {
		font-size: .75em;
    }
    
    .footer-container footer {
    	font-size: .9em;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
/*         margin: 0 0.7%; */
    }
}

@media only screen and (min-width: 640px) {
	.party-info dl {
		clear: both;
		width: 48%;
		float: left;
		margin-right: 4%;
		font-size: .9em;
	}
	
	.party-profile .progress {
		width: 48%;
		float: left;
		margin-top: .75em;
	}
	
	#donated {
		font-size: 2.3em;
	}
}

@media only screen and (min-width: 768px) {

/* ==========================================================================================
   WIDE
   ========================================================================================== */

/*
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
*/

	.header-container {
		float: left;
		width: 20%;
		padding: 30px 5% 0;
		border-bottom: 0;
	}

	.header-container nav {
	}
	
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: none;
        margin: .5em 0;
        font-size: 1.8em;
    }

	.title .thumb, .title a > span {
		display: none;
	}

	.title .logo {
		display: block;
		max-width: 100%;
		max-height: 5.4em;
		margin: 0 auto;
	}

/*
    nav {
        float: right;
        width: 38%;
    }
*/

	nav ul li {
		display: block;
	}
	
	nav a {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		padding: 10% 0;
		font-size: 1.5em;
	}
	
	nav li + li a {
		margin-left: 0;
	}
	
	nav a > .nav-icon {
		background-size: 45%;
	}
		
		a#learn .nav-icon {
			background-size: 36%;
		}

		a#share .nav-icon {
			background-size: 36%;
		}
		
		
/* ============
    WIDE: Main
   ============ */

/*
    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
*/
	
	.main.wrapper {
		width: auto;
		max-width: 42em;
		margin-left: 30%;
	}

}

@media only screen and (min-width: 1140px) {

/* ==========================================================================================
   WIDE
   ========================================================================================== */

/*     .wrapper { */
        /* width: 1026px; */ /* 1140px - 10% for margins */
/*
        margin: 0 auto;
    }
*/
}
