#message {
	height: 10em;
	width: 100%;
	max-width: 100%;
}

#message-form {
	float: left;
	width: 100%;
}

#submit {
	float: left;
	background-color: #44BDBE;
	color: #FFF;
	background-image: -moz-linear-gradient(center top , #44BDBE, #44BDBE);
	border: 1px solid #44BDBE;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	font-weight: bold;
	height: 2.25em;
	line-height: 1.5em;
	min-width: 64px;
	font-family: 'Montserrat Alternates', sans-serif;
	clear: left;
}

input[type="text"], input[type="email"], textarea {
	float: left;
	width: 50%;
	margin: 0 0 1em;
	line-height: 1.5em;
	height: 1.5em;
	padding-left: 0.65%;
	clear: left;
	min-width: 178px;
	max-width: 356px;
}

::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

:-moz-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

::-moz-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}

:-ms-input-placeholder {
	color: #999;
	font-style: italic;
	padding-left: 0.65%;
}