<div class="footer-container">
  <footer class="wrapper">
		<ul class="nav">
			<li>
        <a href="<%= privacy_url %>">
          Privacy and Terms & Conditions
        </a>
      </li>
			<li>
        <a href="mailto:info@partyforhumanity.org">
          info@partyforhumanity.org
        </a>
      </li>
		</ul>
		<p>
      Copyright &copy; Party for Humanity, Inc. <br>
			242 West 12 St. New York, NY 10014
		</p>
  </footer>
</div>
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>