<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">
      Party for Humanity
    </h1>
    <nav>
      <ul>
        <li>
				  <a id="learn" href="#">
            Learn
					  <span>
              about us
            </span>
						<div class="nav-icon">
            </div>
					</a>
        </li>
        <li>
				  <a id="choose" href="#">
            Choose
						<span>
              a charity
            </span>
						<div class="nav-icon">
            </div>
					</a>
        </li>
        <li>
				  <a id="organize" href="#">
            Organize
				    <span>
              a party
            </span>
				    <div class="nav-icon">
            </div>
				  </a>
        </li>
        <li>
			    <a id="share" href="#">
            Share
					  <span>
              your story
            </span>
					  <div class="nav-icon">
            </div>
				  </a>
        </li>
      </ul>
    </nav>
  </header>
</div>